notebook>stack{
  background-color: @main_bg;
  border-top: 2px solid @main_lit;
  border-left: 2px solid @main_lit;
  border-right: 2px solid @main_shade2;
  border-bottom: 2px solid @main_shade2;
}
notebook>header>tabs>tab{
  background-color: @main_shade;
  padding: 8px;
}
notebook>header>tabs>tab:checked{background-color: @main_bg;}
notebook>header>tabs>tab:hover{background-color: @main_shade2;}
notebook>header>tabs>tab:hover:checked{background-color: @main_bg;}

notebook>header>tabs>tab{
  border-top: 2px solid @main_shade2;
  border-left: 2px solid @main_bg;
  border-right: 2px solid @main_shade;
}
notebook>header>tabs>tab:checked{
  border-top: 2px solid @main_lit;
  border-left: 2px solid @main_lit;
  border-right: 2px solid @main_shade2;
  border-bottom: 2px solid @main_shade2;
}
notebook>header.top>tabs>tab{
   border-bottom: none;
}
notebook>header.top>tabs>tab:checked{
  margin-bottom: -3px;
  border-bottom: 4px solid @main_bg
}
notebook>header.left>tabs>tab{
  border-right: none;
  border-bottom: 2px solid @main_shade;
}
notebook>header.left>tabs>tab:checked{
  border-right: 4px solid @main_bg;
  margin-right: -3px;
}
notebook>header.bottom>tabs>tab{
  border-top: 2px solid @main_shade;
}
notebook>header.bottom>tabs>tab:checked{
  border-top: 4px solid @main_bg;
  margin-top: -3px;
}
notebook>header.right>tabs>tab{
  border-left: none;
  border-bottom: 2px solid @main_shade;
}
notebook>header.right>tabs>tab:checked{
  border-left: 4px solid @main_bg;
  margin-left: -3px;
}